* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

#card-title {
  text-decoration: none;
  color: #2e4d6b;
}

#card-title:hover {
  color: #477250;
}

#card-text {
  font-style: italic;
}
/*------- Titulos secciones -------*/

#sectionTitle {
  color: #2e4d6b;
}

@media (min-width: 320px) {
  #sectionTitle {
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 0%;
    font-size: 25px;
    font-weight: 700;
  }
}

@media (min-width: 375px) {
  #sectionTitle {
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 0%;
    font-size: 30px;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  #sectionTitle {
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 0%;
    font-size: 30px;
    font-weight: 700;
  }
}

@media (min-width: 1024px) {
  #sectionTitle {
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 0%;
    font-size: 30px;
    font-weight: 700;
  }
}

@media (min-width: 1440px) {
  #sectionTitle {
    margin-left: 0.9%;
    margin-top: 1%;
    margin-bottom: 0%;
    font-size: 35px;
    font-weight: 700;
  }
}

/*------- Footer -------*/

#footerText,
#socialFooter {
  color: #2e4d6b;
  font-weight: 500;
  text-align: center;
}

#contactInfo {
  border: 1px solid #2e4d6b;
  padding: 2%;
}

/*-------- Logo, slogan e info de contacto colegio en Footer --------*/

@media (min-width: 320px) {
  #logoFooter {
    display: flex;
    align-items: center;
    margin-left: 17%;
    margin-right: 10%;
    width: 75%;
    height: auto;
  }

  #SchoolSlogan {
    color: #2e4d6b;
    font-weight: 500;
    text-align: center;
    margin-left: 10%;
    padding-top: 4%;
  }

  #contactInfo {
    margin-left: 11%;
    margin-right: 0%;
  }
}

@media (min-width: 375px) {
  #logoFooter {
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-right: 18%;
    width: 80%;
    height: auto;
  }
}

@media (min-width: 425px) {
  #logoFooter {
    display: flex;
    align-items: center;
    width: 85%;
    margin-left: 12%;
    margin-right: 18%;
    height: auto;
  }
}

@media (min-width: 768px) {
  #logoFooter {
    display: flex;
    align-items: center;
    margin-left: -15%;
    margin-right: 0%;
    width: 140%;
    height: auto;
  }

  #contactInfo {
    margin-left: 0%;
    margin-right: 0%;
    padding: 6%;
  }
}

@media (min-width: 1024px) {
  #logoFooter {
    display: flex;
    align-items: center;
    width: 140%;
    height: auto;
  }
}

@media (min-width: 1440px) {
  #logoFooter {
    display: flex;
    align-items: center;
    margin-left: -15%;
    margin-right: 0%;
    margin-top: 0%;
    width: 90%;
    height: auto;
  }

  #SchoolSlogan {
    color: #2e4d6b;
    font-weight: 500;
    text-align: left;
    margin-left: 0%;
    padding-top: 2%;
  }
}

/*-------- Mapa en Footer --------*/

@media (min-width: 320px) {
  #schoolMap {
    display: flex;
    align-items: center;
    width: 90%;
    height: auto;
    margin-left: 19%;
    margin-right: 10%;
  }
}

@media (min-width: 375px) {
  #schoolMap {
    display: flex;
    align-items: center;
    width: 90%;
    height: auto;
  }
}

@media (min-width: 425px) {
  #schoolMap {
    display: flex;
    align-items: center;
    width: 96%;
    height: 90%;
  }
}

@media (min-width: 768px) {
  #schoolMap {
    display: flex;
    align-items: center;
    width: 120%;
    height: 90%;
  }
}

@media (min-width: 1024px) {
  #schoolMap {
    display: flex;
    align-items: center;
    width: 130%;
    height: 90%;
  }
}

@media (min-width: 1440px) {
  #schoolMap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

/*-------- Navbar --------*/

#navbarText {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
  color: #2e4d6b;
}

#navbarButton {
  background-color: #477250;
  border-radius: 50px;
  border-style: solid 5px #2e4d6b;
  margin-top: 5px;
}

#navbarButton a {
  color: white;
  font-weight: 500;
}

@media (min-width: 320px) {
  #navbarLogo {
    width: 45%;
  }
}

@media (min-width: 768px) {
  #navbarLogo {
    width: 15%;
  }
}

@media (min-width: 1024px) {
  #navbarLogo {
    width: 10%;
  }
}

@media (min-width: 1440px) {
  #navbarLogo {
    width: 10%;
  }
}

/*-------- Carousel --------*/

@media (min-width: 320px) {
  #homeCarousel {
    margin-top: 5%;
  }
}

@media (min-width: 425px) {
  #homeCarousel {
    margin-top: 7%;
  }
}

@media (min-width: 768px) {
  #homeCarousel {
    margin-top: 4%;
  }
}

@media (min-width: 1024px) {
  #homeCarousel {
    margin-top: 3%;
  }
}

/*------- Sección QUIENES SOMOS -------*/

@media (min-width: 320px) {
  #institutionalTitle {
    font-size: 25px;
    font-weight: bold;
    color: #477250;
    margin-bottom: 0%;
  }

  #institutionalSubTitle {
    font-size: 18px;
    font-weight: bold;
    color: rgb(58, 57, 57);
    font-style: italic;
    margin-bottom: 0%;
  }

  #institutionalCardTitle {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 750;
    color: #2e4d6b;
    margin-bottom: 2%;
    margin-top: 0%;
  }

  #institutionalContent {
    font-size: 15px;
    font-weight: 600;
    color: rgb(58, 57, 57);
    margin-top: 3%;
    text-align: left;
  }
}

@media (min-width: 425px) {
  #institutionalCardTitle {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 750;
    color: #2e4d6b;
    margin-bottom: 2%;
    margin-top: 0%;
  }
}

@media (min-width: 768px) {
  #institutionalTitle {
    font-size: 30px;
    font-weight: bold;
    color: #477250;
    margin-bottom: 0%;
  }

  #institutionalSubTitle {
    font-size: 20px;
    font-weight: bold;
    color: rgb(58, 57, 57);
    font-style: italic;
    margin-bottom: 0%;
  }

  #institutionalCardTitle {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 750;
    color: #2e4d6b;
    margin-bottom: 2%;
    margin-top: 0%;
  }

  #institutionalContent {
    font-size: 17px;
    font-weight: 600;
    color: rgb(58, 57, 57);
    margin-top: 2%;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  #institutionalTitle {
    font-size: 35px;
    font-weight: bold;
    color: #477250;
    margin-bottom: 0%;
  }
}

/*------- Login ------- */

#loginBody {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("../img/background.jpg");
  background-size: cover;
}

.userLoginCard {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #2e4d6ba1;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  font-weight: 400;
  color: white;
}
.loginLogoContainer {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #477250c9;
  padding: 10px;
  text-align: center;
}
.loginLogo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.formContainer {
  margin-top: 100px;
}

.loginContainer {
  padding: 0 2rem;
}
.input-group-text {
  background: #477250 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #477250 !important;
}

#loginButton {
  background-color: #477250;
  border-radius: 50px;
  padding: 8px;
}

#loginButton a {
  color: white;
  font-weight: 500;
}
